
<h1>Home</h1>
<div class="center jumbotron">
  <h1>Finance App</h1>

  <h2>
    Home Page for Finance App
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
